* {
  margin: 0;
  padding: 0;
  font-family: Inknut Antiqua, serif;
}

body {
  background-color: rgb(238, 238, 239);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.cor-branca {
  color: white;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
  margin-top: 20px;

}

.evaluation-form {
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-left: 110px;
  margin-top: 50px;
  text-align: center;

}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

section {
  display: flex;
}


.nomeSobrenome {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.emailSelect {
  display: flex;
}

.familias {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.color-btn {
  margin-bottom: 10px;
}

.select-style {
  display: flex;
  text-align: center;
}

.label-select-style {
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

#house {
  height: 40px;
}

#checkbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.familia-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.subject {
  margin-right: 10px;
}

.radio-style {
  margin-top: 20px;
  margin-bottom: 20px;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 10px;
}

#text {
  resize: none;
  height: 100px;
}

#submit-btn {
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
  background-color: slateblue;
  color: white;
  margin-bottom: 15px;
}

footer {
  background-color: rgb(61, 65, 74);
  text-align: center;
  color: white;
  bottom: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
